service-gateway-domain/src/main/resources/domain.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="ProxyConfig">
        <xs:sequence>
            <xs:element name="routes" type="ProxyRoute" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ProxyRoute">
        <xs:sequence>
            <xs:element name="prefix" type="xs:string" />
            <xs:element name="proxyTo" type="xs:string" />
            <xs:element name="priority" type="xs:int" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>